@model IEnumerable<GestionSolicitud.Models.SpListadoSoliciturdesAll>

@{
    ViewData["Title"] = "Solicitudes";
}

<div class="table-responsive">
<table class="table table-bordered table-hover" id ="tabla-solicitudes">
    <thead>
        <tr>
            <th>
                Id
            </th> 
            <th>
                Tipo Solicitud
            </th>
            <th>
                Fecha Creacion
            </th>
            <th>
                DocNump
            </th>
        
            <th>
                Comentarios
            </th>
            <th>
                Solicitante
            </th>
            <th>
                Area
            </th>
            <th>
                Estado
            </th>
           <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.tipoDeSolicitud
            </td>
            <td>
                @item.Creada
            </td>
            <td>
                @item.DocNum
            </td>
          
            <td>
                @item.Comentarios
            </td>
            <td>
                @item.Solicitante
            </td>
            <td>
                @item.Area
            </td>
            <td>
                @item.Estado
            </td>
            
            <td>
                <button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones
                </button>
                <ul class="dropdown-menu dropdown-menu">
                    @*TODOS TIENEN ACCESO A ESTOS BOTONES*@
                    <li><a class="dropdown-item verDetalle" data-id="@item.Id" >Ver Detalle</a></li>
                    <li><a class="dropdown-item verAuditoria" data-id="@item.Id" >Ver auditoria</a></li>

                    @if (item.DocNum != "No Procesado")
                    {
                        <li><a class="dropdown-item verSAP" data-id="@item.Id">Ver DocSAP</a></li>
                    }
                </ul>
            </td>
            
        </tr>
    }
    </tbody>
</table>
</div>

@************************************************MODAL********************************************@
<!-- Modal -->
<div class="modal fade" id="modalGeneral" tabindex="-1" aria-labelledby="modalGeneralLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-xl"> @**Aca se ajusta el tamaño del modal**@
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalGeneraltitulo">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="cuerpoModal">
        @*********************CUERPO DEL MODAL*******************************@

            
        @*********************FIN DEL MODAL*******************************@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary hide" id="btnGuardarModal">Guardar</button>
      </div>
    </div>
  </div>
</div>
@**************************************************FIN MODAL****************************************@




<script src="~/js/FlSolicitudes.js"></script>
