@model IEnumerable<GestionSolicitud.Models.Flauditorium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.IdAuditoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAuditoria">Details</a> |
               <a asp-action="Delete" asp-route-id="@item.IdAuditoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
